*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contant
{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contant h2{
    position: absolute;
    
    font-size: 10rem;
    font-weight: 800;
    font-family: sans-serif;
}

.contant h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.contant h2:nth-child(2)
{
    color: #03a9f4;
    animation: animate 2s ease-in infinite;
}

@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(50% 100%, 0 7%, 100% 8%);
    }
   50%
   {
    clip-path: polygon(47% 1%, 0 95%, 100% 96%);
   }
}







